.bg-light{
	background-color:rgba(89,159,7,1.00);
	font-weight: bold;
	border:2px solid black;
}
.navbar-light .navbar-brand{
	font-size: 26px;
}
.yo{
	border:2px  solid black;
	display: block;
	width:100%;
	margin:.5px;
	background-color:#61122f ;

}
@media(min-width: 1200px){
	.navbar-toggler{
		display:none;
	}
	.card{
		display: none;
	}
}
@media(min-width: 576px )and (max-width: 1199px){
	.navbar-toggler{
		display:none;
	}
	.card{
		display: none;
	}
}
@media(max-width: 767px){
	#nav-size{
		font-size: 40px;
	}
}
#menu{
	font-size:30px;
	border-left:2px solid black;
	border-right:2px solid black;
	border-bottom:2px solid black;
	color:black;
	font-weight: bold;
	background-color:rgba(251,35,38,1.00);
	
}
.text-center{
	background-color: #61122f;
	color:black;
	font-weight: bold;
	border-bottom:2px solid black;
	
	width:100%;
}
#cover1,#cover2,#cover3,#cover4{
	border:2px solid black;
	margin-top: 10px;
	padding:0;
	}
#content{
	padding:2px;
	background-color: pink;
}
p{
	padding:5px;
}
.btn-primary{
	background-color: #61122f;
	color:black;
	font-weight: bold;
	border-color:black;
	border:2px  solid black;
}
.card-body{
	background-color:rgba(148,139,139,1.00);
}
.btn-primary:hover{
	background-color: #5d7185;
}
.card{
	border:0;
}
